<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
    <head>
        <meta charset="UTF-8"/>
        <title>List of Vets</title>
    </head>
    <body>
        <!--/*@thymesVar id="vet" type="com.dams.springpetclinic.model.Vet"*/-->
        <h2 th:text="'List of Vets'">List of Vets...</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 150px;">Id</th>
                    <th style="width: 150px;">First Name</th>
                    <th style="width: 150px;">Last Name</th>
                    <th style="width: 150px;">Specialties</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="vet : ${vets}">
                    <td th:text="${vet.id}">1</td>
                    <td th:text="${vet.firstName}">Joe</td>
                    <td th:text="${vet.lastName}">Buck</td>
                    <td>
                        <span th:each="specialty : ${vet.specialities}" th:text="${specialty.description + ' '}"></span>
                        <span th:if="${vet?.specialities?.size() == 0}">none</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>